# This is an example .env file for the backend. Copy this file to .env and fill in the values.
JWT_SECRET=<your-secret-key> # Change this to a secure random string in production
JWT_ALGORITHM=<your-jwt-algorithm> # The algorithm used for signing JWTs, typically HS256 or RS256

AUTH_USERNAME=<your-username> # Change this to a secure username in production (e.g., for testing "admin" is fine)
AUTH_PASSWORD=<your-password> # Change this to a secure password in production (e.g., for testing "admin" is fine)

POSTGRES_DB=<your-database-name> # The name of your PostgreSQL database (e.g., "task_manager")
POSTGRES_USER=<your-postgres-username> # The username for your PostgreSQL database (e.g., "admin")
POSTGRES_PASSWORD=<your-postgres-password> # The password for your PostgreSQL database (e.g., "admin")
POSTGRES_HOST=<your-postgres-host> # The host where your PostgreSQL database is running (e.g., "localhost")
POSTGRES_PORT=<your-postgres-port> # The port where your PostgreSQL database is listening (e.g., "5432")
