.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  line-height: normal;
}

.header-content .header-title.ant-typography {
  margin-bottom: 0;
}
