.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: min(420px, 100%);
  border-radius: 16px;
}

.login-space {
  width: 100%;
}

.login-title,
.login-enter-credentials,
.login-api-docs {
  display: flex;
  justify-content: center;
}

.login-api-docs {
  margin-block-start: 1rem;
}
